- @posts.each do |post|
	.post_wrapper
		%h2{class: "title"}
			= link_to post.title, post
		%p{class: "date"}
			= post.created_at.strftime("%B, %d, %Y")
		created by
		%b= post.user.email
		- if post.user == current_user
			%br
			= link_to 'Edit', edit_post_path(post)
			|
			= link_to 'Delete', post_path(post), method: 'delete'
		.image
			=image_tag post.image.url(:thumb)